* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body,
html,
#root {
	width: 100%;
	height: 100%;
	background: #fbfbfb;
}

// ant子菜单
:where(.css-dev-only-do-not-override-11cpirq).ant-menu-light.ant-menu-inline
	.ant-menu-sub.ant-menu-inline {
	padding-left: 8px;
}
